{% extends 'base.html.twig' %}

{% block title %}Hello MainController!{% endblock %}

{% block body %}
    <div id='calendar'></div>

    {% block javascripts %}
        {% include 'main/_calendarJS.html.twig' %}
    {% endblock %}
{% endblock %}
