<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        <link rel="stylesheet" href="{{ absolute_url(asset('assets/css/main.min.css')) }}">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/fullcalendar@5.11.3/main.min.css">

        {% block stylesheets %}{% endblock %}
    </head>
    <body>
        <main>
            {% block body %}{% endblock %}
        </main>

        <script src="{{ absolute_url(asset('assets/js/scripts.min.js')) }}"></script>
        <script src="https://cdn.jsdelivr.net/npm/fullcalendar@5.11.3/main.min.js"></script>
        {% block javascripts %}{% endblock %}
    </body>
</html>
